<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xslcon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <xslcon.Properties.Settings>
            <setting name="MemberPath" serializeAs="String">
                <value>C:\HomeOS2\homeos2\Hub\Common\DataStore\bin\Debug\HomeOS.Hub.Common.DataStore.XML</value>
            </setting>
            <setting name="EntityPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MemberClass" serializeAs="String">
                <value>M:HomeOS.Hub.Common.DataStore.IStream.</value>
            </setting>
            <setting name="MemberRgx" serializeAs="String">
                <value>M:HomeOS\.Hub\.Common\.DataStore\.IStream\.\w*</value>
            </setting>
            <setting name="EntityTypeClass" serializeAs="String">
                <value />
            </setting>
            <setting name="EntityTypeRgx" serializeAs="String">
                <value />
            </setting>
            <setting name="EntityPropClass" serializeAs="String">
                <value />
            </setting>
            <setting name="TopMatter" serializeAs="String">
                <value>C:\Users\v-wfren\Documents\GitHub\ChronoZoom\Doc\Chronozoom_REST_API_top.md</value>
            </setting>
            <setting name="OutFile" serializeAs="String">
                <value>C:\Users\v-wfren\Documents\GitHub\docteam\xslcon\xslcon\output\IStream.md</value>
            </setting>
            <setting name="ParamBase" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>HomeOS.Hub.Common.DataStore.</string>
                        <string>System.</string>
                        <string>System.Collections.Generic.</string>
                    </ArrayOfString>
                </value>
            </setting>
        </xslcon.Properties.Settings>
    </applicationSettings>
</configuration>